<ul>
  <% if ::Refinery::Style::Admin::ImageCategoriesController.searchable? %>
    <li>
      <%= render '/refinery/admin/search', :url => refinery.style_admin_image_categories_path %>
    </li>
  <% end %>
  <li>
    <%= link_to t('.create_new'), refinery.new_style_admin_game_image_category_path(@game),
                 :class => "add_icon" %>
  </li>
<% if !searching? && ::Refinery::Style::Admin::ImageCategoriesController.sortable? && ::Refinery::Style::ImageCategory.any? %>
  <li>
    <%= link_to t('.reorder', :what => "ImageCategories"),
                 refinery.style_admin_game_image_categories_path(@game),
                 :id => "reorder_action",
                 :class => "reorder_icon" %>

    <%= link_to t('.reorder_done', :what => "ImageCategories"),
                 refinery.style_admin_game_image_categories_path(@game),
                 :id => "reorder_action_done",
                 :style => "display: none;",
                 :class => "reorder_icon" %>
  </li>
<% end %>
</ul>
