<!DOCTYPE html>
<%= render "/refinery/html_tag" %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <%= render "/refinery/head" %>
  <body>
    <%= yield %>
    <%= render "/refinery/javascripts" %>
  </body>
</html>